@media (min-width: 10px) and (max-width: 600px) {
	.contact-link {
		margin: 0 0.6em;
		i {
			font-size: 3rem;
		}
	}

	.contact-form {
		.primary-button {
			align-self: center;
			width: 100%;
		}
	}
	.form-group {
		flex-direction: column;
	}
}
