@media (min-width: 10px) and (max-width: 600px) {
	header {
		justify-content: flex-start;
		padding-top: 2em;

		.primary-button {
			margin-top: 70px;
		}

		.group-move {
			order: 1;

			&--next {
				order: 2;
			}
		}
	}
	h1 {
		padding: 0;
		margin-top: 1em;
		margin-bottom: 2em;

		font-size: 2.4rem;
		text-shadow: 25px 14px rgba(#fff, 0.07);
	}

	.text-box {
		min-height: 300px;
		flex-flow: row wrap;
	}
	.text-box__content {
		padding: 1em;
		height: 300px;
		font-size: 1.4rem;
	}
}
@media (min-width: 600px) and (max-width: 1200px) {
	h1 {
		padding: 1em;
		margin: 1em;
		margin-top: 1.6em;
		margin-bottom: 0;
		width: 100%;

		font-size: 3.5rem;
		text-shadow: 25px 14px rgba(#fff, 0.07);
	}
	.text-box {
		min-height: 50vh;
	}
}
