.contact {
	color: $col-two;
}
.contact-links {
	display: flex;
	margin-bottom: 50px;
	width: 100%;
}
.contact-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0.5em;
	width: 33%;

	text-align: center;
	transition: color 0.25s ease-out;

	&:hover {
		color: $col-thr;
	}

	i {
		font-size: 4rem;
	}
	h4 {
		padding: 0.3em;
	}
}
