header {
	position: relative;
	display: flex;
	justify-content: center;
	min-height: 100vh;

	color: $col-one;
	background: $col-one;
	background-image: url(../assets/img/ball-stadium.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include fadeInMixin();

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($col-two, 0.85);
	}
}

.text-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.text-box__content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em;

	height: fit-content;

	text-align: justify;
	font-size: 1.5rem;
	color: $col-two;
	background: rgba($col-one, 0.6);
	border-radius: 5px;
}
.text-box__item {
	display: none;
}
.text-box__item--active {
	display: block;
}

.text-box__move {
	position: absolute;
	top: 50%;
	left: -10%;
	height: 70px;
	width: 36px;

	background: rgba($col-one, 0.3);
	border-radius: 6px;

	transform: translateY(-50%) rotate(180deg);
	cursor: pointer;

	@include hover-bgLighten(0.6);

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 6px;
		height: 100%;

		background: rgba($col-one, 0.5);

		transform: translateY(-50%);
	}

	&--next {
		left: unset;
		right: -10%;
		&::before {
			left: unset;
			right: 0;
		}
	}
}

h1 {
	// position: absolute;
	// bottom: 0.3em;

	text-align: center;
	font-weight: 200;
	font-size: 5rem;
}
