.navigation {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	width: 100%;

	color: $col-one;
	background-color: rgba($col-two, 0.9);
	z-index: 10;
}

.navigation__logo {
	margin: 0 1em;
	width: 52px;
	cursor: pointer;
}

.navigation__list {
	display: flex;
	justify-content: flex-end;

	text-align: center;
	text-transform: capitalize;
}

.navigation__item {
	width: 120px;
	padding: 1em 1.4em;

	cursor: pointer;

	@include hover-bgLighten;
}
