.navigation {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	width: 100%;

	color: $col-one;
	background-color: rgba($col-two, 0.9);
	z-index: 10;
}

.navigation__logo {
	padding: 0 0.7em;

	font-size: 1.5rem;
	font-weight: 700;
}

.navigation__list {
	display: flex;
	justify-content: flex-end;

	text-align: center;
	text-transform: capitalize;
}

.navigation__item {
	a {
		display: block;
		padding: 1em 1.4em;
		margin: auto 0;

		@include hover-bgLighten;
	}
}
