@import 'config';
@import 'header';
@import 'navigation';
@import 'about';
@import 'cooperate';
@import 'training';
@import 'opinions';
@import 'contact';

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 90vh;

	font-size: 1.3rem;

	h2 {
		padding: 1em;
		font-size: 2.6rem;
		text-align: center;
		text-transform: capitalize;
	}
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 80%;
	max-width: 1200px;
	z-index: 1;

	text-align: justify;
}

.primary-button {
	position: relative;
	padding: 0.7em 1.2em;

	font-size: inherit;
	border: none;
	border-radius: 5px;

	overflow: hidden;
	cursor: pointer;

	&--blue {
		color: $col-one;
		background: $col-two;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 120%;
		height: 100%;

		transform: skewX(15deg) translateX(-120%);
		transition: 0.5s transform cubic-bezier(0.49, 1.19, 0.62, -0.35);

		background: rgba($col-thr, 0.3);
	}

	span {
		position: relative;
	}

	&:hover {
		&::before {
			transform: skewX(15deg) translateX(-10%);
		}
	}
}

.section-arrow {
	position: absolute;
	bottom: 20px;

	font-size: 2.5rem;
	color: rgba(#fff, 0.3);

	z-index: 2;
	cursor: pointer;
	transition: color 0.24s ease-out;
	@include moveUpMixin(1.6s, 100%);

	&:hover {
		color: rgba(#fff, 0.7);
	}
}

@import 'responsive';
